@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sora", sans-serif;
}

.material-icons {
  font-size: inherit;
  line-height: inherit;
}
html {
  scroll-behavior: smooth;
}